<!DOCTYPE html>
<html lang="en">
<head>
    <h1><%= book.name%> </h1>
    <title>Lab 9</title>
</head>
<body>
</br>
Author: <%= book.author%>
</br>
Buy now: <a href="<%= book.web%>">Link</a>
</body>
</br>
<div class="nav">
    <%- include('partials/nav') %>
</div>
</html>