<!DOCTYPE html>
<html lang="en">
<head>
    <title>addNewBook</title>
    <link rel="stylesheet" href="/style">
</head>
<body>
    <div class="data-form">
        <form action="../new_books/create" method="POST">
            <h2>Add a new book:</h2>
            <label for="name">Book Name:</label><br>
            <input type="text" name="name"><br><br>
            <label for="author">Author Name:</label><br>
            <input type="text" name="author"><br><br>
            <label for="web">Amazon Link:</label><br>
            <input type="text" name="web"><br><br>
            <input type="submit" value="Submit">
          </form> 
    </div>
    <div class="nav">
        <%- include('partials/nav') %>
    </div>
</body>
</html>