<!DOCTYPE html>
<html lang="en">
<head>
    <title>book page</title>
</head>
<body>
        <b>Book Title:</b>
            <%= data.name%> 
        </br>Author:
            <%= data.author%>
        </br>
            Buy now: <a href="<%= data.web%>">Link</a>
        </p></a>
</br>
</body>
</br>
<div class="nav">
    <%- include('partials/nav') %>
</div>
</html>