<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/style">
<head>
    <%- include('partials/header') %>
    <title>Lab 9</title>
</head>
<body>
</br>
<table>
    <% let i = 0 %>
    <% data.forEach (data => {%>
        <% i++ %>
        <tr>
            <td><a href="<%=`/book/${data._name}` %>"><%= data.name%></a></td>
        </tr>
    <% }); %>
</table>
</br>
<div class="nav">
<%- include('partials/nav') %>
</div>
</body>
</html>